html{
  scroll-snap-type: y mandatory;
}

.app {
  height:100vh;
  background-color: black;
  /*To display content in the center*/
  display:grid;
  place-items:center;
}

.app_videos{
  position: relative;
  height:800px;
  overflow:scroll;
  width:80%;
  max-width:500px;
  scroll-snap-type:y mandatory;
}

/*Hides from chrome, safari and opera*/
.app_videos::-webkit-scrollbar{
  display:none; /*chrome*/
}

.app_videos{
  -ms-overflow-style: none;/*IE and edge*/
  scrollbar-width:none;/* Firefox */
}