.videoFooter{
    position: relative;
    color:white;
    bottom:150px;
    display:flex;
}
.videoFooter_ticker > .ticker{
    height:fit-content;
    margin-left:40px;
    width:60%;
}

.videoFooter_ticker > p{
    padding-top:20px;
}

.videoFooter_icon{
    position: absolute;
}

.videoFooter_text{
    flex:1;
}

.videoFooter_text > h3{
    padding-top:7px;
    padding-bottom:10px;
}

.videoFooter_text > p{
    padding-bottom: 20px;
}

.videoFooter_record{
    animation: spinTheRecord infinite 5s linear;
    height:50px;
    filter:invert(1);
    position: absolute;
    bottom:0;
    right:20px;
}

@keyframes spinTheRecord{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}